:root {
  --default-gap: 1rem;
  --header-height: 4rem;
}

body {
  background-color: #dad7cd;
}

header {
  font-size: xx-large;
  background-color: #a3b18a;
  padding-inline-start: var(--default-gap);
  height: var(--header-height);
  display: flex;
  align-items: center;
}

header,
h1,
h2 {
  font-family: "DM Serif Text", serif;
  color: #344e41;
}

* + h2 {
  margin-top: var(--default-gap);
}

main {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: var(--default-gap);
  align-items: start;
}

article {
  padding: 1rem;
}

li {
  list-style: none;
  padding-left: calc(var(--default-gap) / 2);
  padding-right: calc(var(--default-gap) / 2);
  padding-bottom: var(--default-gap);

  &:first-of-type {
    padding-top: 1rem;
  }
}

li::marker {
  content: "🔗";
}

aside a {
  text-decoration: none;
  font-size: larger;
  color: #588157;

  &:hover {
    color: #344e41;
  }
}

p {
  line-height: 1.5;
  font-size: 24px;
}
